body {
    padding-top: 70px;
    /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.modal-content {
    padding: 0 20px;
}


#create-contact-panel {
    margin-top: 20px;
}

#contacts-list {
    overflow-y: scroll;
    height:600px;
    margin-top: 20px;
}
